*{
  margin: 0;
  padding: 0;

}
body{
  background-color: #000000;
 color: #eee;
  font-size: 10px;
  font-family: 'poppins', sans-serif;
}
nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 110 px;  
  background-color: black;
  opacity: 0.9;
  margin-top: 20px;

}
.logo{
  width: 100px;
  margin-left: 10px;
    
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 5px 3px;
  background-color: #000000;
}
nav ul li a{
text-decoration: none;
color: rgb(255, 255, 255);
padding: 0px 3px;
border: 3px solid transparent;
text-transform: uppercase ;
text-decoration-style: solid;
font-size: 15px;
border-radius: 5px; 
margin-right: 440px;
}
nav ul li.active a{
background-color: rgb(92, 2, 2);
color: #f0ebeb;
opacity: 5;

}
nav ul li a:hover{
    background-color:rgb(206, 187, 187);
    color: #000000; 
}
.btn-search{
    color: rgb(158, 21, 21);

}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 95px;
    justify-content: center;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    position:relative;
    overflow: hidden;
}


.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    font-size: 5px;
}

.movie-info span{
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    position: absolute;
}
.overview{
    position:absolute;
    left:20;
    right:0;
    bottom:0;
    background-color: #000000;
    color: #eee;
    padding: 2rem;
    
    transform:translateY(100%);
    transition:transform 0.2s ease-in;
 height: 70%;
   text-align: center;
    width:60%;
    font-size: 6px;
   
  
}

.movie:hover .overview{
    transform:translateY(0)
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    padding:10px px;
    background-color: rgb(14, 13, 13);
    border-radius: 10px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
    margin-bottom: -10px;
    
}
